/**
 *
 * FONTS
 *
 **/
@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,400,400italic|Roboto+Slab:100,400|Raleway:600);

/**
 *
 * Colors
 *
 **/
.c1 {
    color: #208090; /* blue = rgb(32, 128, 144) */
    color: #90BBC0; /* light-blue = rgb(144, 187, 192) */
    color: #206044; /* green = rgb(32, 96, 68) */
    color: #701818; /* red = rgb(112, 24, 24) */
    color: #902050; /* magenta = rgb(144, 32, 80) */

    /* These ones look nice (7/30): */
    color: #34d6ed; /* blue */
    color: #617f83; /* grey-blue */
    color: #49e5a2; /* green */
    color: #ff3737; /* red */
    color: #b2276d; /* magenta */
}

/**
 *
 * Components
 *
 **/

/* Links */
a {
    color: #ff3737; /* red */
    text-decoration: none;

    border-bottom: 1px dashed;
    border-left: 0px none;
    border-right: 0px none;
    border-top: 1px none;

    border-color: #ff3737; /* red */

}
a:active {
    border-top-style: dotted;
    border-bottom-style: dotted;
}
a:hover, a:active {
    border-bottom-style: dotted;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
    font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-width: 2px;
}

h1 {
    display: inline-block;
    margin: 0.5em auto;

    color: #34d6ed; /* blue */
    font-size: 2em;
    line-height: 1.6em;
}

h2 {
    color: #49e5a2; /* green */
    font-weight: 600;
    font-size: 2em;
    font-family: 'Raleway';
}

h3 {
}

/* Lists and navs */
ul, li {
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    top: 1em;
    right: 0;
    margin-top: 1em;
}

nav li {
    float: left;
    margin: 0 1em;
    list-style: none;
}

nav a, nav a:hover, nav a:active {
    color: #34d6ed; /* blue */
    border-color: #34d6ed; /* blue */
}

/* Feed (TODO - custom?) */
#feed, #feed li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Pre, code and other blocky texts */
pre {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5%;
    overflow: auto;
    background: white;
}

/**
 *
 * Structure
 *
 **/

html {
    font-size: 100%;
    background: #000000;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;

    color: #222;
    font: 1em/1.6em 'Roboto', sans-serif;
    font-weight: 100;
}

/* Header, main, footer */
body > header, main, body > footer {
    position: relative;
    top: 0;
    left: 0;
}

body > header, body > footer {
    display: block;
    max-width: 60em;
    width: 93.75%;
    margin: 0 auto;
}

body > header {
    padding: 2em 0 1em 0;
}

body > footer {
    padding: 1em 0;
}

main {
    display: block;
    width: 100%;

    padding: 1em 0 1em 0;
    background: white;
}

main > * {
    max-width: 60em;
    width: 93.75%;
    margin: 0 auto;
}

/* Content pieces shouldn't take up the whole space */
main > article > *, main > section > * {
    max-width: 75%;
}

main > aside {
    position: absolute;
    top: 0;
    right: 0;

    /* Override default sizing: */
    width: 23%;
    margin: 0;
}

@media (min-width: 64em) {
    main > aside {
        width: calc(46.875% - 15em);
    }
}

@media (max-width: 40em) {
    main > aside {
        position: relative;
        top: 0;
        right: 0;

        width: 93.75%;
        margin: 0 auto;
    }

    main > article > *, main > section > * {
        max-width: 100%;
    }
}

/**
 *
 * Custom (unlikely to have side effects)
 *
 **/

body > header > a[href="/"],
body > header > a[href="/"]:hover,
body > header > a[href="/"]:active {
    border: none;
}

body > footer > a {
    color: #34d6ed; /* blue */
    border-color: #34d6ed; /* blue */

    margin: 0 1em 0 0;
}

